.open {
    cursor: pointer;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .close {
        cursor: pointer;
        font-size: 30px;
        opacity: 0.5;
        font-weight: bold;
        &:hover {
            opacity: 1;
            color: #ff5e1e;
        }
    }
}

.inputs {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    position: relative;
    &:first-child {
        margin-bottom: 10px;
    }
    input {
        padding: 20px 10px;
        outline: none;
        border-radius: 10px;
        &[type=email], &[type=password] {
            transition: all 0.30s ease-in-out;
            outline: none;
            border: 1px solid #d9d9d9;
            &:focus {
                box-shadow: 0 3px 9px #d9d9d9;
            }
            &:focus ~ .floating-label,
            &:not(:placeholder-shown):not(:focus) ~ .floating-label {
                left: 10px;
                opacity: 1;
            }
            &:focus ~ .floating-label,
            &:not(:focus):valid ~ .floating-label {
                font-size: 13px;
            }
            &:not(:placeholder-shown):not(:focus):invalid {
                background: #ffebea;
                ~ .floating-label {
                    font-size: 13px;
                }
                ~ .wrong {
                    max-height: 200px;
                    margin-top: 5px;
                }
            }
            &:focus ~ .floating-label,
            &:not(:focus):valid ~ .floating-label,
            &:not(:placeholder-shown):not(:focus):invalid ~ .floating-label {
                top: 0px;
            }
        }
    }
}

.buttons {
    text-align: center;
    margin-top: 30px;
    button {
        padding: 15px 40px;
        border: 0;
        background: #ff5e1e;
        color: white;
        border-radius: 5px;
        margin-top: 3px;
        margin-right: 3px;
        outline: none;
        font-size: 15px;
        &:hover {
            background: #ff743d;
        }
    }
    button + button {
        margin-left: 30px;
    }
}

.inputText {
    font-size: 17px;
}

.floating-label {
    position: absolute;
    pointer-events: none;
    left: 20px;
    transition: 0.2s ease all;
}

.wrong {
    max-height: 0;
    transition: 0.28s;
    overflow: hidden;
    font-style: italic;
    color: red;
}

.email, .password {
    top: 40px;
}
